.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-left: 20px;
}

.shop-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* .cart-container {
    width: 250px;
    height: 644px;
    padding: 20px;
    background: rgba(255, 153, 0, 0.3);
} */