.header {
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6%;
}

.header img {
    width: 150px;
}

.items a {
    padding: 30px 30px;
    text-decoration: none;
    color: #fff;
}

.items a:hover {
    color: lightcoral;
}